@font-face {
  src: url("../fonts/MONTSERRAT-MEDIUM_0.TTF") format("truetype");
  font-family: montserrat;
  font-weight: 500;
}
@font-face {
  src: url("../fonts/MONTSERRAT-REGULAR_0.TTF") format("truetype");
  font-family: montserrat;
  font-weight: 400;
}
@font-face {
  src: url("../fonts/MONTSERRAT-SEMIBOLD_0.TTF") format("truetype");
  font-family: montserrat;
  font-weight: 600;
}
.secondary-button, .primary-button {
  border-radius: 20px;
  border: none;
  font-family: montserrat;
  font-size: 14px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat;
}

#page-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 115px;
  margin: 0 auto;
}
#page-header nav {
  align-self: center;
  width: 320px;
}
@media screen and (max-width: 1023px) {
  #page-header nav {
    display: none;
  }
}
#page-header ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#page-header ul li {
  list-style: none;
}
#page-header ul li a {
  text-decoration: none;
  color: #464749;
  font-weight: 500;
  font-size: 13px;
}
#page-header .logo {
  width: 150px;
  align-self: flex-end;
}
@media screen and (max-width: 1023px) {
  #page-header .logo {
    align-self: center;
  }
}
#page-header .logo img {
  width: 100%;
}

#upfold {
  position: relative;
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: 85vw 50vw;
  background-position-x: 35vw;
  min-height: calc(100vh - 115px);
  padding-bottom: 120px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  #upfold {
    background-size: 100% 145vw;
    background-position-x: 10vw;
    background-position-y: -20vw;
    margin-top: 40px;
  }
}
#upfold .content {
  width: 30%;
  margin-left: 8%;
  position: relative;
}
#upfold .content img {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
}
@media screen and (max-width: 1023px) {
  #upfold .content {
    width: 80%;
  }
  #upfold .content img {
    right: -40px;
  }
  #upfold .content h2 {
    font-size: 30px;
    width: 90%;
  }
}
#upfold h2 {
  color: #28388e;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 40px;
  width: 80%;
}
#upfold p {
  color: #464749;
  line-height: 2;
  font-size: 13px;
  font-weight: 500;
}
@media screen and (max-width: 1023px) {
  #upfold p {
    margin-top: 290px;
  }
}
#upfold button {
  margin: 40px 0;
}

.primary-button {
  padding: 14px 25px;
  color: white;
  background-color: #ec217b;
}

.secondary-button {
  color: #ec217b;
  background-color: white;
  border: 1px solid #ec217b;
  font-weight: 600;
  padding: 12px 45px;
}

.heading {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #28388e;
  text-transform: uppercase;
}

.heading-description {
  width: 30%;
  margin: 30px auto;
  font-size: 12px;
  color: #5b5b5d;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .heading-description {
    width: 80%;
  }
}
.heading-description::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #ec217b;
  margin: 50px auto;
}

#features {
  margin-top: -100px;
  padding-bottom: 100px;
  background-image: url("../images/background-2.svg");
  background-repeat: no-repeat;
  background-position: -10vw -5vw;
  background-size: 55vw 55vw;
  position: relative;
}
@media screen and (max-width: 1023px) {
  #features {
    background-position: -25vw -5vw;
    background-size: 120vw 150vw;
  }
}
#features .action-buttons {
  position: absolute;
  width: 100%;
  top: 55%;
}
#features .action-buttons img {
  width: 35px;
  position: absolute;
}
@media screen and (max-width: 1023px) {
  #features .action-buttons img {
    width: 30px;
  }
}
#features .action-buttons img:nth-of-type(1) {
  left: 60px;
}
@media screen and (max-width: 1023px) {
  #features .action-buttons img:nth-of-type(1) {
    left: 10px;
  }
}
#features .action-buttons img:nth-of-type(2) {
  right: 60px;
}
@media screen and (max-width: 1023px) {
  #features .action-buttons img:nth-of-type(2) {
    right: 10px;
  }
}
#features ul {
  width: 80%;
  margin: 20px auto;
  padding: 20px 0;
}
#features li {
  border: 1px solid rgba(70, 71, 73, 0.4);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  list-style: none;
  padding: 25px;
  height: 40vh;
  display: flex;
  background-color: white;
  box-shadow: none;
  transition: box-shadow 500ms ease;
}
@media screen and (max-width: 1023px) {
  #features li {
    box-shadow: 0px 0px 10px #464749;
  }
}
#features li:hover {
  box-shadow: 0px 0px 10px #464749;
}
#features li .description {
  align-self: flex-end;
}
#features li .description li {
  font-size: 12px;
  color: #5b5b5d;
  line-height: 20px;
  margin: 20px 0;
}
#features li .description h6 {
  font-size: 18px;
  color: #5b5b5d;
  font-weight: 500;
}
#features li .description p {
  font-size: 12px;
  margin: 20px 0;
  color: #5b5b5d;
}
#features li .description a {
  color: #ec217b;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

#register {
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-position: 55vw 2vw;
  background-size: 65vw;
}
#register .plans {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  #register .plans {
    flex-direction: column;
    width: 100%;
  }
}
#register .plans .plan-list {
  width: calc(25% - 49px);
  list-style: none;
  border: 1px solid rgba(70, 71, 73, 0.2);
  border-radius: 10px;
  padding: 50px 20px;
  background-color: white;
}
@media screen and (max-width: 1023px) {
  #register .plans .plan-list {
    width: 100%;
    padding: 50px 0;
  }
}
#register .plans .plan-list:nth-of-type(3) {
  transform: scaleY(1.05);
  box-shadow: 0 0 8px rgba(236, 33, 123, 0.4);
}
#register .plans .plan-list:nth-of-type(3) button {
  padding: 12px 45px;
}
#register .plans .plan-list h5 {
  text-align: center;
  text-transform: uppercase;
  color: #28388e;
  font-size: 20px;
  font-weight: 500;
}
#register .plans .plan-list h5::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ec217b;
  margin: 20px auto;
}
#register .plans .plan-list .cost {
  text-align: center;
  font-size: 20px;
  color: #28388e;
  margin-bottom: 30px;
}
#register .plans .plan-list .cost span {
  font-weight: 600;
  font-size: 30px;
}
#register .plans .plan-list ul {
  margin: 20px 0;
}
#register .plans .plan-list li {
  font-size: 12px;
  color: #5b5b5d;
  margin: 14px auto;
  text-align: center;
  list-style: none;
}
#register .plans button {
  margin: 40px auto 0;
  display: block;
}

#footer {
  margin-top: -115px;
  height: 50vh;
}
@media screen and (max-width: 1023px) {
  #footer {
    height: auto;
    margin-top: 0;
  }
}
#footer:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -30px;
}
@media screen and (max-width: 1023px) {
  #footer:before {
    background-image: none;
  }
}
#footer .inner-content {
  padding-top: 30px;
  padding-bottom: 85px;
  background-color: #f5f6fa;
}
@media screen and (max-width: 1023px) {
  #footer .inner-content {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}
#footer .inner-content .flex-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  #footer .inner-content .flex-container {
    flex-direction: column;
  }
}
#footer .inner-content .flex-container section {
  width: 30%;
}
@media screen and (max-width: 1023px) {
  #footer .inner-content .flex-container section {
    width: 90%;
    margin-bottom: 20px;
  }
}
#footer .inner-content .flex-container section h5 {
  font-size: 18px;
  color: #5b5b5d;
}
#footer .inner-content .flex-container section p {
  font-size: 12px;
  color: #464749;
  line-height: 20px;
  margin: 20px 0;
}
#footer .inner-content .flex-container section.navigational-links {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  #footer .inner-content .flex-container section.navigational-links {
    flex-direction: column;
  }
  #footer .inner-content .flex-container section.navigational-links ul {
    margin: 20px 0;
  }
}
#footer .inner-content .flex-container section.navigational-links li {
  list-style: none;
  margin: 10px 0;
}
#footer .inner-content .flex-container section.navigational-links li:nth-of-type(1) {
  margin-top: 0;
}
#footer .inner-content .flex-container section.navigational-links li a {
  text-decoration: none;
  color: #464749;
  font-weight: 500;
  font-size: 13px;
}
#footer .inner-content .flex-container section.subscription .flex-box {
  display: flex;
  margin-bottom: 20px;
}
@media screen and (max-width: 1023px) {
  #footer .inner-content .flex-container section.subscription .flex-box {
    justify-content: center;
    margin-bottom: 0;
  }
}
#footer .inner-content .flex-container section.subscription .flex-box input {
  padding: 14px 12px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #5b5b5d;
  border-right: none;
  font-family: montserrat;
  font-weight: 500;
  background-color: transparent;
  color: #5b5b5d;
}
#footer .inner-content .flex-container section.subscription .flex-box button {
  padding: 14px 20px;
  background-color: #28388e;
  border: none;
  color: white;
  font-family: montserrat;
  border-radius: 20px;
  margin-left: -15px;
}

/*# sourceMappingURL=index.css.map */
